body {
	font-family: Helvetica, sans-serif;
	max-width: 100%;
	overflow-x: hidden;
}

h1 {
	font-size: 16vw;
}

h2 {
	font-size: 8vw;
}

.nebula {
	background-image: url(../../images/backgrounds/nebula.jpg);
}